.background {
  height: 100vh;
  background-size: cover;
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-down {
  from {
    opacity: 0.5;
    transform: translate(0, -20px);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}

.background .overlay {
  height: 100%;
  background-image: linear-gradient(to left, rgba(19, 13, 37, 0.41) 5.02%, rgba(19, 13, 37, 0.88) 45.62%, #130D25 69.39%, #130D25 100%);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.background .overlay h1, .background .overlay p {
  padding-left: 10%;
  width: 50%;
  animation-name: fade-down;
  animation-duration: 1.5s;
}

.background .overlay .link {
  padding-left: 10%;
  display: flex;
}

.background .overlay h1 {
  font-size: 3.5rem;
  font-weight: 400;
  margin: 0
}

.background .overlay p {
  font-size: 1.1rem;
  line-height: 30px;
}

.background .overlay .link a {
  color: #4CB952;
  text-transform: uppercase;
  font-size: 1.1rem;
  font-weight: 700;
  font-family: 'Ubuntu', sans-serif;
  letter-spacing: 1.2px;
  cursor: pointer;
  border-bottom: 2px solid #4CB952;
}

.underline {
  background-color: #4CB952;
  height: 2px;
  margin-top: 5px;
}

.link img {
  margin-left: 10px;
}

.slideBtns {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 30px;
  width: 100%;
}

.slideBtns button {
  height: 14px;
  width: 14px;
  border-radius: 50%;
  border: 2px solid #4CB952;
  background-color: inherit;
  margin: 5px;
  box-sizing: border-box;
  transition: background-color 1.5s;
  outline: none;
  cursor: pointer;
}

.slideBtns button.active {
  background-color: #4CB952;
}

.slides {
  position: relative;
}

@media only screen and (min-height: 700px) {
  .background {
    height: 700px;
  }
}

@media only screen and (max-width: 768px) {
  .background .overlay {
    background-image: linear-gradient(to left, rgba(19, 13, 37, 0.41) 5.02%, rgba(19, 13, 37, 0.88) 26.62%, #130D25 60.39%, #130D25 100%);
  }

  .background .overlay h1, .background .overlay p {
    width: 100%;
    padding-right: 10%;
  }
}

@media only screen and (max-width: 400px) {
  .background .overlay h1 {
    font-size: 2.5rem;
  }
}